/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color:#6F6AF7;
    color: white;
}

.logo img {
    margin: 20px 10px; 
    width: auto;
}

.nav-links {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 10px;
}

.nav-item {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
    
    position: relative;
}

.nav-item span {
    margin-left: 5px;
    font-size: 20px; 
}

.menu {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    width: 300px; 
    background-color: white;
    border-radius: 25px; 
    padding: 0 15px; 
    
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 25px; 
    padding-left: 10px; 
}

.search-icon {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 10px; 
    right: 10px;
    cursor: pointer;
}

.menu-icon {
    width: 50%; 
    height: 50%;
    cursor: pointer;
    margin-right: 20px;
}

.hero{
    display: flex;
    margin: 100px 80px;
}
.img img{
    width:30%;
    border-radius: 20px;
    height: auto;
}
.note{
    width:70%;
    border-radius: 20px;
    background-color: #E5D8FF;
    height: auto;
    margin-left: 35px;
    color: #6F7373;
    padding: 10px 30px;
    font-size: 20px;

}